<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAABgbWAFQnBADy8voAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABERERAAAAABEzMzEQAAABEzERMxEAABEzERETMRAAEzESIhEzEAATESIyIRMQABMRIzMhExAAExEiMiETEAATMRIiETMQABEzERETMRAAARMxETMRAAAAETMzMRAAAAABERERAAAAAAAAAAAAAAAAAAAAAAAAD//wAA8B8AAOAPAADABwAAgAMAAIADAACAAwAAgAMAAIADAACAAwAAgAMAAMAHAADgDwAA8B8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
  <title>MarvelDB</title>
</head>
<body>
  <div class="container my-4">
    <h1 class="text-center">MarvelDB</h1>
    {{{body}}}
  </div>
</body>
</html>