<div class="home-search-item p-4 text-center">
  <form action="/search" method="get" class="d-flex flex-column justify-content-center">
    <label for="nameStartsWith" class="">Find your Marvel character!</label>
    <input type="text" name="nameStartsWith" id="nameStartsWith" placeholder="search..." class="form-control w-100 p-2">
    <button type="submit" class="btn btn-light">Search!</button>
  </form>
</div>
